@model Poste.Models.Clienti

@{
    ViewBag.Title = "AddClienti";
}

<div class="d-flex justify-content-end w-100">
    @Html.ActionLink("Logout", "Index", "Home", null, new { @class = "text-decoration-none text-light bg-danger p-2 mx-1 rounded-pill border border-light" })
</div>

<div class="d-flex flex-row justify-content-evenly align-items-center">
    @Html.ActionLink("Aggiungi Pacco", "RegisterPackage", "Spedizioni", null, new { @class = "text-decoration-none text-primary bg-light p-2 rounded-pill d-flex align-items-center" })
    @Html.ActionLink("Aggiorna Pacco", "Aggiorna", "Aggiornamenti", null, new { @class = "text-decoration-none text-primary bg-light p-2 rounded-pill d-flex align-items-center" })
    @Html.ActionLink("Agiungi Cliente", "AddClienti", "Clienti", null, new { @class = "text-decoration-none text-light bg-primary p-2 rounded-pill d-flex align-items-center" })
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="d-flex flex-column justify-content-center align-content-center w-50 mx-auto rounded mt-5 text-primary" style="background-color: #EEDC00">

    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2>Aggiungi nuovo cliente:</h2>
        @Html.ValidationSummary(true, "Uno o più campi input errati:", new { @class = "text-warning" })

        <div class="form-group">
            <div class="d-flex flex-column align-items-center">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome o Azienda" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex flex-column justify-content-center align-items-center">

        @Html.ValidationSummary(true, "", new { @class = "text-warning" })

        <div class="form-group">
            <div class="d-flex flex-column align-items-center">
                @Html.LabelFor(model => model.CodiceTasse, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.CodiceTasse, new { htmlAttributes = new { @class = "form-control", placeholder = "Codice fiscale o P.IVA" } })
                    @Html.ValidationMessageFor(model => model.CodiceTasse, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">

        @Html.ValidationSummary(true, "", new { @class = "text-warning" })

        <div class="form-group">
            <div class="d-flex flex-column align-items-center">
                @Html.LabelFor(model => model.Indirizzo, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Indirizzo, new { htmlAttributes = new { @class = "form-control", placeholder = "Indirizzo cliente" } })
                    @Html.ValidationMessageFor(model => model.Indirizzo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>



    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="form-group">
            <div class="mt-4 mb-4">
                <input type="submit" value="Aggiungi Cliente" class="btn btn-primary border border-light" />
            </div>
        </div>

    </div>
</div>
}
<br />
<br />
<div class="d-flex justify-content-end w-100">
    @Html.ActionLink("Lista Clienti", "Index", "Clienti", null, new { @class = "text-decoration-none text-light bg-primary p-2 mx-1 rounded-pill border border-light" })
</div>

<br>
<br>
<br>
