@model IEnumerable<Poste.Models.Aggiornamenti>
    @{
        ViewBag.Title = "Index";
    }

<div class="d-flex justify-content-end w-100">
    @Html.ActionLink("Logout", "Index", "Home", null, new { @class = "text-decoration-none text-light bg-danger p-2 mx-1 rounded-pill border border-light" })
</div>


<div class="d-flex flex-row justify-content-around">
    @Html.ActionLink("Aggiungi Pacco", "RegisterPackage", "Spedizioni", null, new { @class = "text-decoration-none text-light bg-primary p-2 rounded-pill" })
    @Html.ActionLink("Aggiorna Pacco", "Aggiorna", "Aggiornamenti", null, new { @class = "text-decoration-none text-light bg-primary p-2 rounded-pill" })
    @Html.ActionLink("Aggiungi Cliente", "AddClienti", "Clienti", null, new { @class = "text-decoration-none text-light bg-primary p-2 rounded-pill" })
</div>

<br />
<br />
<br />

<h2>Lista Aggiornamenti:</h2>

<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Luogo</th>
            <th>Descrizione</th>
            <th>DataEOra</th>
            <th>Codice Cliente</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var aggiornamenti in Model)
        {
            <tr>
                <td>@aggiornamenti.SpedizioneID</td>
                <td>@aggiornamenti.Satus</td>
                <td>@aggiornamenti.Luogo</td>
                <td>@aggiornamenti.Descrizione</td>
                <td>@aggiornamenti.DataEOra</td>
                <td>@aggiornamenti.CodiceTasseCliente</td>
                <td class="d-flex justify-content-evenly">
                    <form action="@Url.Action("EliminaAggiornamento", "Aggiornamenti")" method="post">
                        @Html.Hidden("SpedizioneID", aggiornamenti.SpedizioneID)
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
                    </form>
            </tr>
        }
    </tbody>
</table>

<br />
<br />
<br />
<br />
<br />